<html>
    <title>VOTE NOW!</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="./stylesheets/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="http://icons.iconarchive.com/icons/iconarchive/blue-election/1024/Election-Vote-icon.png" />
    </head>
    <body>
        <div class="wrapper">
            <div class="modal modal--congratulations">
                <div class="modal-top">
                    <img class="modal-icon u-imgResponsive" src="https://dl.dropboxusercontent.com/s/e1t2hhowjcrs7f5/100daysui_100icon.png alt="Trophy" />
                    <div class="modal-header">Thanks For Voting</div>
                    <div class="modal-subheader">Thanks for spend your valuable time to vote with us. The result will be announced soon. </div>
                <div>
                    <center style="padding-top:30px;padding-bottom:30px;">
                        <a href="/" style="">
                            <button style="border-radius:5px;background:#303540;border:2px solid  #303540;cursor:pointer;">
                                <span class="" style="font-weight:500;font-family: 'Noto Sans', sans-serif;color:#fff;font-size:19px;padding:50px;">Back</span>
                            </button>
                        </a>
                    </center>
                </div>
            </div>
        </div>  
    </body>
</html>