<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vote Now</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="./stylesheets/style.css" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/vote.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="jumbotron text-center" style="background:url(https://dl.dropboxusercontent.com/s/v3m6p0p5kq6xzkz/100daysui_100bg.png) no-repeat, #303540">
  <br>
  <h1 style="font-family: 'Source Sans Pro', sans-serif;color:#fff;">
    VOTE FOR YOUR FAVOURITE <br>
    <i class="fa fa-star" aria-hiddn="true"></i> <i class="fa fa-star" aria-hiddn="true"></i> <i class="fa fa-star" aria-hiddn="true"></i>
  </h1>
    <br>
</div>
  
<div class="container" style="padding-top:3%;">
  <div class="row">
    <div class="col-sm-4 col-md-4" style="margin-bottom:5%">
      <center>
          <img width="40%" src="./images/ak.jpg" alt="" style="border-radius:50%;border: 3px solid #3F51B5;">
          <h3>Ajith Kumar</h3>
          <a href="/success">
             <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: 600;" class="btn">Vote Now!</button>
          </a>
      </center>
    </div>
    <div class="col-sm-4 col-md-4" style="margin-bottom:5%">
        <center>
            <img width="40%" src="./images/vj.jpg" alt="" style="border-radius:50%;border: 3px solid #F44336;" alt="">
            <h3>Joshep Vijay </h3>
            <a href="/success">
               <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: 600;" class="btn">Vote Now!</button>
            </a>
        </center>
      </div>
      <div class="col-sm-4 col-md-4" style="margin-bottom:5%">
        <center>
            <img width="40%" src="./images/vs.jpg" alt="" style="border-radius:50%;border: 3px solid #9C27B0;" alt="">
            <h3>Vijay Sethupathy</h3>
            <a href="/success">
                <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: 600;" class="btn">Vote Now!</button>
            </a>
        </center>
    </div>
    <div class="col-sm-4 col-md-4" style="margin-bottom:5%">
        <center>
            <img width="40%" src="./images/sk.jpg" alt="" style="border-radius:50%;border: 3px solid #009688;" alt="">
            <h3>Sivakarthikeyan</h3>
            <a href="/success">
                <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: 600;" class="btn">Vote Now!</button>
            </a>
        </center>
        </div>
        <div class="col-sm-4 col-md-4" style="margin-bottom:5%">
            <center>
                <img width="40%" src="./images/sy.jpg" alt="" style="border-radius:50%;border: 3px solid #FFC107;" alt="">
                <h3>Surya</h3>
                <a href="/success">
                    <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: 600;" class="btn">Vote Now!</button>
                </a>
            </center>
        </div>
        <div class="col-sm-4 col-md-4" style="margin-bottom:5%">
            <center>
                <img width="40%" src="https://www.freeonlinephotoeditor.com/tmp/img-5c29eb4634dcf/step0001.jpg?1546253498653" alt="" style="border-radius:50%;border: 3px solid #D50000;" alt="">
                <h3>Dhanush</h3>
                <a href="/success">
                    <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: 600;" class="btn">Vote Now!</button>
                </a>
            </center>
            </div>
  </div>
</div>

</body>
</html>
