<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vote Now</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="./stylesheets/style.css" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/vote.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="jumbotron text-center" style="background:url(https://dl.dropboxusercontent.com/s/v3m6p0p5kq6xzkz/100daysui_100bg.png) no-repeat, #303540">
  <br>
  <h1 style="font-family: 'Source Sans Pro', sans-serif;color:#fff;">
    VOTE FOR YOUR FAVOURITE <br>
    <i class="fa fa-star" aria-hiddn="true"></i> <i class="fa fa-star" aria-hiddn="true"></i> <i class="fa fa-star" aria-hiddn="true"></i>
  </h1>
    <br>
</div>
  
<div class="container" style="padding-top:3%;">
  <div class="row">
    <div class="col-sm-4" style="margin-bottom:5%">
      <center>
          <img width="40%" src="https://i1.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="">
          <h3>Palani Raja</h3>
          <p style="font-family: 'Source Sans Pro', sans-serif;font-size:18px;margin-bottom:0px;">Dr. Sivanthi Aditanar College of Engineering</p>
          <p style="font-family: 'Source Sans Pro', sans-serif;font-weight:600;font-size:18px;">Mechanical Department</p>
          <a href="/success">
             <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: :500;" class="btn">Vote Now!</button>
          </a>
      </center>
    </div>
    <div class="col-sm-4" style="margin-bottom:5%">
        <center>
            <img width="40%" src="https://i1.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="">
            <h3>Palani Raja</h3>
            <p style="font-family: 'Source Sans Pro', sans-serif;font-size:18px;margin-bottom:0px;">Dr. Sivanthi Aditanar College of Engineering</p>
            <p style="font-family: 'Source Sans Pro', sans-serif;font-weight:600;font-size:18px;">Mechanical Department</p>
            <a href="/success">
               <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: :500;" class="btn">Vote Now!</button>
            </a>
        </center>
      </div>
      <div class="col-sm-4" style="margin-bottom:5%">
          <center>
              <img width="40%" src="https://i1.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="">
              <h3>Palani Raja</h3>
              <p style="font-family: 'Source Sans Pro', sans-serif;font-size:18px;margin-bottom:0px;">Dr. Sivanthi Aditanar College of Engineering</p>
              <p style="font-family: 'Source Sans Pro', sans-serif;font-weight:600;font-size:18px;">Mechanical Department</p>
              <a href="/success">
                 <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: :500;" class="btn">Vote Now!</button>
              </a>
          </center>
        </div>
        <div class="col-sm-4" style="margin-bottom:5%">
            <center>
                <img width="40%" src="https://i1.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="">
                <h3>Palani Raja</h3>
                <p style="font-family: 'Source Sans Pro', sans-serif;font-size:18px;margin-bottom:0px;">Dr. Sivanthi Aditanar College of Engineering</p>
                <p style="font-family: 'Source Sans Pro', sans-serif;font-weight:600;font-size:18px;">Mechanical Department</p>
                <a href="/success">
                   <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: :500;" class="btn">Vote Now!</button>
                </a>
            </center>
          </div>
          <div class="col-sm-4" style="margin-bottom:5%">
              <center>
                  <img width="40%" src="https://i1.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="">
                  <h3>Palani Raja</h3>
                  <p style="font-family: 'Source Sans Pro', sans-serif;font-size:18px;margin-bottom:0px;">Dr. Sivanthi Aditanar College of Engineering</p>
                  <p style="font-family: 'Source Sans Pro', sans-serif;font-weight:600;font-size:18px;">Mechanical Department</p>
                  <a href="/success">
                     <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: :500;" class="btn">Vote Now!</button>
                  </a>
              </center>
            </div>
            <div class="col-sm-4" style="margin-bottom:5%">
                <center>
                    <img width="40%" src="https://i1.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1" alt="">
                    <h3>Palani Raja</h3>
                    <p style="font-family: 'Source Sans Pro', sans-serif;font-size:18px;margin-bottom:0px;">Dr. Sivanthi Aditanar College of Engineering</p>
                    <p style="font-family: 'Source Sans Pro', sans-serif;font-weight:600;font-size:18px;">Mechanical Department</p>
                    <a href="/success">
                       <button style="background:#303540;color:#fff;font-family: 'Source Sans Pro', sans-serif;font-size:17px;font-weight: :500;" class="btn">Vote Now!</button>
                    </a>
                </center>
              </div>
  </div>
</div>

</body>
</html>
